static/audio/*
__pycache__/*
__pycache__/main.cpython-313.pyc
__pycache__/tts_providers.cpython-313.pyc
__pycache__/voice_agents.cpython-313.pyc
*.pyc
*.log
.env
long-flash-452213-u9-8ae0b27b310f.json
new-service-account-key.json
